
.vscode/arduino.json

.vscode/

CMWX1ZZABZ/

starting_tests/Cowboy_POC/
/Materiale_Vetrano
/starting_tests
images/ECC_code.png

musselsgrowtracker/PC_software/

..keys.txt

keys_and_signature.txt

keys.txt

musselsgrowtracker/musselsgrowtracker.7z
